    <!-- ==========================
    	ABOUT - START 
    =========================== -->
    <section class="jumbotron jumbotron2">
    	<div class="container">
            <h2>{{ title }}<small>{{ tagline }}</small></h2>
        </div>
    </section>
    
    <section class="content" id="about-content">
    	<div class="container">
            <div class="row">
            	<div class="col-md-6">
			{{ content }}
                </div>
                <div class="col-md-6">
                    <div id="about-slider" class="owl-carousel owl-theme">       
                        <div class="item"><img src="{{ theme_path }}image/image_01.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/image_02.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/image_03.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/image_04.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/image_05.jpg" alt="" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content bg-color-2" id="about-team">
    	<div class="container">
        	<h2>Meet Our Team</h2>
            <div class="row">
            
            	<!-- Profile -->
            	<div class="col-sm-6">
                	<div class="profile">
                    	<img src="{{ theme_path }}image/avatar_01.jpg" class="img-responsive center-block" alt="">
                        <h3>John Doe<small>Webdesigner</small></h3>
                   		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate tristique congue. Nulla sed nulla pharetra, elementum odio sit amet, mollis felis. Aliquam non laoreet arcu, sed congue massa.</p>
                        <ul class="brands brands-sm brands-circle brands-inline main">
                        	<li><a href="" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- Profile -->
            	<div class="col-sm-6">
                	<div class="profile">
                    	<img src="{{ theme_path }}image/avatar_02.jpg" class="img-responsive center-block" alt="">
                        <h3>John Doe<small>Webdesigner</small></h3>
                   		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate tristique congue. Nulla sed nulla pharetra, elementum odio sit amet, mollis felis. Aliquam non laoreet arcu, sed congue massa.</p>
                        <ul class="brands brands-sm brands-circle brands-inline main">
                        	<li><a href="" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	ABOUT - END 
    =========================== -->
    
    <!-- ==========================
    	SEPARATOR - START 
    =========================== -->
    <section class="content content-separator text-center" id="separator1">
    	<div class="container">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat<a href="http://216.243.142.252/lets-connect" class="btn btn-lg btn-inverse">Contact Us</a></p>
        </div>
    </section>
    <!-- ==========================
    	SEPARATOR - END 
    =========================== -->