    <!-- ==========================
    	BREADCRUMB - START 
    =========================== -->
    <section class="breadcrumb-wrapper">
        <div class="container">
            <h2>Blog - Left Sidebar</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog - Left Sidebar</li>
            </ol>
        </div>
    </section>
	<!-- ==========================
    	BREADCRUMB - END 
    =========================== -->

    <!-- ==========================
    	BLOG - START 
    =========================== -->
    <section class="content bg-color-2 left-sidebar" id="blog">
    	<div class="container">
            <div class="row">
            	<!-- BLOG SIDEBAR - START -->
            	<div class="col-md-4 col-lg-3 blog-sidebar">
                	<div class="box">
                    	<h3>Search</h3>
                        <form>
                            <fieldset>
                                <div class="form-group nospace">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="search2" placeholder="Search" required>
                                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                	<div class="box">
                    	<h3>Categories</h3>
                        <ul class="list-unstyled">
                        	<li><a href=""><i class="fa fa-angle-double-right"></i>Admin &amp; Dashboards<span class="badge">5</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Landing Pages<span class="badge">12</span></a></li>
                            <li class="active"><a href=""><i class="fa fa-angle-double-right"></i>Business &amp; Corporate<span class="badge">35</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Portfolios<span class="badge">142</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Resumes &amp; CV<span class="badge">8</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>E-Commerce<span class="badge">121</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Components<span class="badge">50</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Blogs &amp; Magazines<span class="badge">50</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>WordPress<span class="badge">50</span></a></li>
                            <li><a href=""><i class="fa fa-angle-double-right"></i>Other<span class="badge">50</span></a></li>
                        </ul>
                    </div>
                    <div class="box box-tags">
                    	<h3>Tags</h3>
                        <a href=""><span class="text-10">Clean</span></a>
                        <a href=""><span class="text-20">CV</span></a>
                        <a href=""><span class="text-20">Flat</span></a>
                        <a href=""><span class="text-14">Freelance</span></a>
                        <a href=""><span class="text-20">Modern</span></a>
                        <a href=""><span class="text-12">One Page</span></a>
                        <a href=""><span class="text-14">Professional</span></a>
                        <a href=""><span class="text-14">Responsive</span></a>
                        <a href=""><span class="text-16">Resume</span></a>
                        <a href=""><span class="text-20">Business</span></a>
                        <a href=""><span class="text-16">Corporate</span></a>
                        <a href=""><span class="text-18">CSS3</span></a>
                        <a href=""><span class="text-12">HTML5</span></a>
                        <a href=""><span class="text-16">Mobile First</span></a>
                        <a href=""><span class="text-20">Multipurpose</span></a>
                        <a href=""><span class="text-14">Portfolio</span></a>                   
                    </div>
                </div>
                <!-- BLOG SIDEBAR - END -->
                <!-- BLOG CONTENT - START -->
                <div class="col-md-8 col-lg-9 blog-content">
                	
                    <!-- BLOG POST -->
                	<div class="blog-post">
                    	<div class="flex-video widescreen">
                        	<iframe src="https://player.vimeo.com/video/23617801"></iframe>                        	
                        </div>
                        <div class="blog-post-detail">
                            <span><i class="fa fa-calendar"></i>16/06/2014</span>
                            <span><i class="fa fa-comment"></i>11</span>
                            <span><i class="fa fa-thumbs-up"></i>23</span>
                            <span class="text-light hidden-xs"><a href="#">E-commerce</a>, <a href="#">Business</a>, <a href="#">Technology</a></span>
                        </div>
                        <div class="blog-post-body">
                    		<a href="blog-post2.html"><h3>Blog post with Vimeo video</h3></a>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>
                    		<a href="" class="btn btn-primary"><i class="fa fa-chevron-right"></i>Read More</a>
                        </div>
                    </div>
                    
                    <!-- BLOG POST -->
                	<div class="blog-post">
                    	<div class="flex-video widescreen">
                            <iframe allowfullscreen src="http://www.youtube.com/embed/A3PDXmYoF5U?feature=player_detailpage"></iframe>
                        </div>
                        <div class="blog-post-detail">
                            <span><i class="fa fa-calendar"></i>16/06/2014</span>
                            <span><i class="fa fa-comment"></i>11</span>
                            <span><i class="fa fa-thumbs-up"></i>23</span>
                            <span class="text-light hidden-xs"><a href="#">E-commerce</a>, <a href="#">Business</a>, <a href="#">Technology</a></span>
                        </div>
                        <div class="blog-post-body">
                    		<a href="blog-post2.html"><h3>Blog post with Youtube video</h3></a>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>
                    		<a href="" class="btn btn-primary"><i class="fa fa-chevron-right"></i>Read More</a>
                        </div>
                    </div>
                    
                    <!-- BLOG POST -->
                	<div class="blog-post">
                    	<div class="flex-video soundcloud">
    						<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/97617992&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                        </div> 
                        <div class="blog-post-detail">
                            <span><i class="fa fa-calendar"></i>16/06/2014</span>
                            <span><i class="fa fa-comment"></i>11</span>
                            <span><i class="fa fa-thumbs-up"></i>23</span>
                            <span class="text-light hidden-xs"><a href="#">E-commerce</a>, <a href="#">Business</a>, <a href="#">Technology</a></span>
                        </div>
                        <div class="blog-post-body">
                    		<a href="blog-post2.html"><h3>Blog post with Soundcloud audio</h3></a>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>
                    		<a href="" class="btn btn-primary"><i class="fa fa-chevron-right"></i>Read More</a>
                        </div>
                    </div>
                    
                    <!-- BLOG POST -->
                	<div class="blog-post">
                    	<img src="image/image_02.jpg" class="img-responsive" alt="">
                        <div class="blog-post-detail">
                            <span><i class="fa fa-calendar"></i>16/06/2014</span>
                            <span><i class="fa fa-comment"></i>11</span>
                            <span><i class="fa fa-thumbs-up"></i>23</span>
                            <span class="text-light hidden-xs"><a href="#">E-commerce</a>, <a href="#">Business</a>, <a href="#">Technology</a></span>
                        </div>
                        <div class="blog-post-body">
                    		<a href="blog-post2.html"><h3>Blog post with image</h3></a>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>
                    		<a href="" class="btn btn-primary"><i class="fa fa-chevron-right"></i>Read More</a>
                        </div>
                    </div>
                    
                    <!-- BLOG POST -->
                	<div class="blog-post">
                        <div class="blog-post-detail">
                            <span><i class="fa fa-calendar"></i>16/06/2014</span>
                            <span><i class="fa fa-comment"></i>11</span>
                            <span><i class="fa fa-thumbs-up"></i>23</span>
                            <span class="text-light hidden-xs"><a href="#">E-commerce</a>, <a href="#">Business</a>, <a href="#">Technology</a></span>
                        </div>
                        <div class="blog-post-body">
                    		<a href="blog-post2.html"><h3>Blog post only with text and very long blog post title</h3></a>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus. Curabitur posuere vel nisi et scelerisque. Praesent imperdiet sed enim et ornare. In congue quis enim ut gravida. Aenean non justo varius, dapibus ipsum eu, mattis urna.</p>
                    		<a href="" class="btn btn-primary"><i class="fa fa-chevron-right"></i>Read More</a>
                        </div>
                    </div>
                    
                    <!-- PAGINATION - START -->
                    <ul class="pagination">
                        <li class="disabled"><a><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>            
                    <!-- PAGINATION - END -->
                </div>
                <!-- BLOG CONTENT - END -->
            </div>
            
        </div>
    </section>
    <!-- ==========================
    	BLOG - END 
    =========================== --> 
        
    <!-- ==========================
    	FOOTER - START 
    =========================== -->
