    <!-- ==========================
    	CONTACT - START 
    =========================== -->
    <section class="jumbotron2">
    	<div class="container">
            <h2>{{ title }}<small>{{ tagline }}</small></h2>
        </div>
    </section>
    
    <section class="content" id="contact">
    	<div class="container">
            <div class="row">
            	<div class="col-sm-6">
                	<h2>Leave a message</h2>
                    <form>
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="name">Your name:<span>*</span></label>
                                    <input type="text" class="form-control " placeholder="Your name:" id="name" required>
                                </div>                               
                            </div>
                            
                            <div class="row">
                            	<div class="form-group col-sm-12">
                                    <label for="email2">Your email:<span>*</span></label>
                                    <input type="email" class="form-control " placeholder="Your email:" id="email2" required>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="message">Your message:<span>*</span></label>
                                    <textarea class="form-control" placeholder="Your message:" id="message" required></textarea>
                                    <button type="submit" id="send" class="btn btn-primary btn-sm"><i class="fa fa-check"></i>Submit</button>
                                    <span class="form-info"><span class="required">*</span> These fields are required</span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-sm-6">
                	<h2>Contact</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                	<ul class="list-unstyled contact-address">
                    	<li>Suite 1600, 144 - 4th Avenue SW<br />
			Calgary, AB T2P 3N4</li>
                        <li><a>info@c3associates.com</a></li>
                        <li>+1 (403) 775-4651</li>
                    </ul>
                    <ul class="brands brands-md brands-inline brands-transition brands-circle main">
                        <li><a href="https://twitter.com/C3Sheila"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/c3-associates-inc."><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>            
        </div>
    </section>  
    
    <section id="google-map">
    	<div id="map-canvas"></div>
    </section>
 
    <!-- ==========================
    	CONTACT - END 
    =========================== -->