    <!-- ==========================
    	JUMBOTRON - START 
    =========================== -->
    <div class="jumbotron jumbotron6">  
        <div id="jumbotron-slider" class="owl-carousel hidden-control owl-theme">       
            
            <div class="item" id="slide-2">
            	<div class="container">
                	<div class="row">
                        <div class="col-md-7">
                        	<h2>WELCOME TO Roxie</h2>
                            <h3>MODERN. CLEAN. RESPONSIVE.</h3>
                            <h3>50+ html pages</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item" id="slide-1">
            	<div class="container">
                	<div class="row">
                        <div class="col-md-6">
                        	<img src="{{ theme_path }}image/showcase7.png" class="img-responsive hidden-xs hidden-sm" alt="">
                        </div>
                        <div class="col-md-6">
                        	<h2>Multi-purpose Modern Theme</h2>
                            <h3>Built with Bootstrap 3.3.0</h3>
                            <h3>100% Responsive</h3>
                            <h3>Modern and Simple Design</h3>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item" id="slide-3">
            	<div class="container">
                	<div class="row">
                        <div class="col-md-12">
                        	<h2>We did our best</h2>
                        </div>
                        <div class="col-md-12">
                            <h3>Now it's up to you</h3>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="btn btn-inverse">Buy it</a>
                            <span>or</span>
                            <a href="" class="btn btn-inverse">Check More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>  
    <!-- ==========================
    	JUMBOTRON - END 
    =========================== -->
          
    <!-- ==========================
    	INTRODUCTION - START 
    =========================== -->
    <section class="content" id="section-introduction">
    	<div class="container">
            <h2>powerful & multipurpose</h2>
            <p><b>Multi-purpose Modern Theme</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.  </p>
        </div>
    </section>
    <!-- ==========================
    	INTRODUCTION - END 
    =========================== -->
    
    <!-- ==========================
    	FEATURES - START 
    =========================== -->
    <section class="content bg-color-2" id="section-features">
    	<div class="container">
            <div class="row">
            	<div class="col-sm-6 col-md-3">
                	<div class="feature">
                    	<i class="fa fa-mobile"></i>
                        <h3>Mobile Friendly</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
            	<div class="col-sm-6 col-md-3">
                	<div class="feature">
                    	<i class="fa fa-pencil"></i>
                        <h3>Easy to customize</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
            	<div class="col-sm-6 col-md-3">
                	<div class="feature">
                    	<i class="fa fa-trophy"></i>
                        <h3>First class design</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
                
            	<div class="col-sm-6 col-md-3">
                	<div class="feature">
                    	<i class="fa fa-gear"></i>
                        <h3>Modern Technologies</h3>
                        <p>Nulla pretium libero interdum, tempus lorem non, rutrum diam. Quisque pellentesque.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	FEATURES - END 
    =========================== -->
    
    <!-- ==========================
    	SEPARATOR - START 
    =========================== -->
    <section class="content content-separator">
    	<div class="container">
        	<p class="text-lg text-center">Design is not just what it looks like and feels like. Design is how it works. - <b>Steve Jobs</b></p>
        </div>
    </section>
    <!-- ==========================
    	SEPARATOR - END 
    =========================== -->
    
    <!-- ==========================
    	ABOUT US - START 
    =========================== -->
    <section class="content bg-color-2" id="section-about-us">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6">
                	<h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. </p>
                	<div class="text-highlight">
                    	<i class="fa fa-quote-left"></i>
                        <p>Pellentesque magna turpis, porttitor non leo ac, imperdiet sollicitudin neque. Sed id condimentum quam. Ut dui velit, suscipit et libero vulputate. Duis nec lorem quis est ultrices volutpat.</p>
                        <span>John Doe, CEO</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="about-us-slider" class="owl-carousel owl-theme">       
                        <div class="item"><img src="{{ theme_path }}image/showcase1.png" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/showcase2.png" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/showcase3.png" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/showcase4.png" alt="" class="img-responsive"></div>
                        <div class="item"><img src="{{ theme_path }}image/showcase5.png" alt="" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	ABOUT US - END 
    =========================== -->
    
    <!-- ==========================
    	RECENT BLOG POSTS - START 
    =========================== -->
    <section class="content" id="section-blog-posts">
    	<div class="container">
        	<h2 class="text-center">Recent Blog Post</h2>
        	<div class="row">
            	<div class="col-sm-6">
                	<div class="recent-blog-post">
                        <div class="post-date">5 March 2014</div>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                        <a href="blog-post2.html">Read More<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                
                <div class="col-sm-6">
                	<div class="recent-blog-post">
                        <div class="post-date">5 March 2014</div>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                        <a href="blog-post2.html">Read More<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="text-center"><a href="blog2.html" class="btn btn-inverse btn-lg"><i class="fa fa-arrow-circle-down"></i>See more Posts</a></div>
        </div>
    </section>
    <!-- ==========================
    	RECENT BLOG POSTS - END 
    =========================== -->
    
    <!-- ==========================
    	PARTNERS - START 
    =========================== -->
    <section class="content" id="section-partners">
    	<div class="container">
        	<h2 class="text-center">Clients</h2>
            <p class="secondary-headline text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
        	<div id="partners-slider">       
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_001_bw.jpg" alt="" id="partner_001"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_002_bw.jpg" alt="" id="partner_002"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_003_bw.jpg" alt="" id="partner_003"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_004_bw.jpg" alt="" id="partner_004"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_005_bw.jpg" alt="" id="partner_005"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_006_bw.jpg" alt="" id="partner_006"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_007_bw.jpg" alt="" id="partner_007"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_008_bw.jpg" alt="" id="partner_008"></a></div>
                <div class="item"><a href="#"><img src="{{ theme_path }}image/partner_009_bw.jpg" alt="" id="partner_009"></a></div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	PARTNERS - END 
    =========================== -->
 